<form action="{{url_for("AnswerController", "createAnswerOption")}}" method="POST">

    <input type="hidden" value="{{data.question.id}}" name="questionId" id="questionId">

    <div class="form-group">
        <label for="optionText">Enter the option:</label>
        <input class="form-control" type="text" required name="optionText" id="optionText">
        
    </div>

    <input type="submit" value="Create Option" class="btn btn-primary" name="submit">
</form>
    
