<form action="{{url_for("AnswerController", "editAnswerOption")}}" method="POST">

    <input type="hidden" value="{{data.answerOption.id}}" name="optionId" id="optionId">

    <div class="form-group">
        <label for="optionText">Option:</label>
        <input class="form-control" value="{{data.answerOption.answerOption}}" type="text" required name="optionText" id="optionText">
        
    </div>

    <input type="submit" value="Edit Option" class="btn btn-primary" name="submit">
</form>
