{% extends "dashboard.twig" %}

{% block content %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url_for("FormController", "viewForms")}}">Forms</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{[url_for('FormSectionController', 'viewSectionsForForm'), "?formId=", data.form.id]|join}}">{{data.form.title}}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{[url_for("QuestionController", "viewQuestionsForSection"), "?sectionId=", data.section.id]|join}}">{{data.section.title}}</a>
        </li>
        <li class="breadcrumb-item active">List of Options for Question: <strong>{{data.question.question}}</strong></li>
    </ol>

    <section class="mb-2 mt-2"> 
      <a href="{{[url_for("AnswerController", "getCreateAnswerOptionView"), "?questionId=", data.question.id]|join}}" data-toggle="modal" data-target="#createModal" class="btn btn-primary">Create a New Option for this Question</a>
    </section>

    {% if data.answerOptions %}
        <div class="accordion" id="optionAccordion">
            {% for option in data.answerOptions %}
                <div class="card">
                    <div class="card-header" id="{{["heading", loop.index]|join}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="{{["#collapse", loop.index]|join}}" aria-expanded="true" aria-controls="{{["collapse", loop.index]|join}}">
                        {{[loop.index, ". ", option.answerOption]|join}}
                        </button>
                    </h5>
                    </div>

                    <div id="{{["collapse", loop.index]|join}}" class="collapse" aria-labelledby="{{["heading", loop.index]|join}}" data-parent="#optionAccordion">
                        <div class="card-body">
                            <div>
                                <span class="font-weight-bold">Actions: </span>
                                <span><a href="#" data-toggle="modal" data-target="#editModal" data-id="{{option.id}}">Edit</a> | <a href="#" data-id="{{option.id}}" data-toggle="modal" data-target="#deleteModal">Delete</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-primary">
            You have not created any options for this question: <span class="font-weight-bold">{{data.question.question}}</span>
        </div>
    {% endif %}

{% endblock %}
{% block modals %}
<!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Answer Option</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
          <div class="alert alert-danger">Are you sure you want to delete this answer option?</div></div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" id="deleteBtn" href="">Delete</a>
          </div>
        </div>
      </div>
    </div>

     <!-- Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Option</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

     <!-- Create Modal-->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Option</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  <script>
        $( document ).ready(function(){
            $('#deleteModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element
                var optionId = $(e.relatedTarget).data('id');

                var url = "{{[url_for("AnswerController", "deleteAnswerOption"), "?optionId="]|join}}";
                url += optionId;

                //Change the Href of the button
                $(e.currentTarget).find('#deleteBtn').attr("href", url);
            });

             $('#editModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element
                var optionId = $(e.relatedTarget).data('id');

                var url = "{{[url_for("AnswerController", "getEditAnswerOptionView"), "?optionId="]|join}}";
                url += optionId;

                $.get(url, function( response ) {
                    $('#editModal .modal-body').html(response); 
                });

             });

             $('#editModal, #createModal').on('hidden.bs.modal', function(e) {

                var ajaxLoaderGif = "<div class='ajax-loader'><img src='{{ URL_ROOT }}/img/ajax-loader.gif' alt='Ajax Loader'/></div>"; 

                $('#editModal .modal-body, #createModal .modal-body').html(ajaxLoaderGif); 

             });

             $('#createModal').on('show.bs.modal', function(e) {

                //get the href attribute of the clicked element
                var url = $(e.relatedTarget).attr('href');

                $.get(url, function( response ) {
                    $('#createModal .modal-body').html(response); 
                });

             });

        })
        
  </script>
{% endblock %}