{% extends "base.twig" %}

{% block main %}
    <div align="center">
        <h1 class="display-1">Oops 🙈</h1>
        <p class="lead">{{ data.processingMessage }}.</p>
        <p class="lead"> You can <a href="{{url_for("HomeController", "index")}}">return home</a>.</p>
    </div>
{% endblock %}
