<form action="{{url_for("FormSectionController", "createSection")}}" method="POST">

    <input type="hidden" value="{{data.form.id}}" name="formId" id="formId">

    <div class="form-group">
        <label for="title">Section Title</label>
        <input class="form-control" type="text" required name="title" id="title">
        
    </div>

    <div class="form-group">
        <label for="roleId">Assigned to Form Role</label>
            <select class="form-control" name="roleId" id="roleId" required>
            {% for role in data.roles %}
            <option value="{{role.id}}">{{role.role}}</option>
            {% endfor %}
            </select> 
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" name="description" id="description"></textarea>
    </div>
    <input type="submit" value="Create Section" class="btn btn-primary" name="submit">
</form>
    
