<form action="{{url_for("FormSectionController", "editSection")}}" method="POST">

    <input type="hidden" value="{{data.section.id}}" name="sectionId" id="sectionId">

    <div class="form-group">
        <label for="title">Section Title</label>
        <input class="form-control" type="text" required name="title" id="title" value="{{data.section.title}}">
        
    </div>

    <div class="form-group">
        <label for="roleId">Assigned to Form Role</label>
            <select class="form-control" name="roleId" id="roleId" required>
            {% for role in data.roles %}
            {% if role.id == data.section.roleId %}
                <option selected value="{{role.id}}">{{role.role}}</option>
            {% else %}
                <option value="{{role.id}}">{{role.role}}</option>
            {% endif %}
            {% endfor %}
            </select> 
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" name="description" id="description">{{data.section.description}}</textarea>
    </div>
    <input type="submit" value="Edit Section" class="btn btn-primary" name="submit">
</form>

