{% extends "dashboard.twig" %}

{% block content %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{[url_for("FormController", "viewForms")]}}">Forms</a>
        </li>
        <li class="breadcrumb-item active">List of Sections For {{data.form.title}}</li>
    </ol>

    <section class="mb-2"> 
      <a href="{{[url_for("FormSectionController", "getCreateSectionView"), "?formId=", data.form.id]|join}}" data-toggle="modal" data-target="#createModal" class="btn btn-primary">Create a New Section for this Form</a>
    </section>

    {% if data.sections %}
        <div class="card mb-3">
                <div class="card-header">
                <i class="fas fa-table"></i>
                List of Sections for {{data.form.title}}</div>
                <div class="card-body">
                <div class="table-responsive-sm">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        <th>S/N</th>
                        <th>Section Title</th>
                        <th>Assigned to (Role)</th>
                        <th>Description</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        <th>S/N</th>
                        <th>Section Title</th>
                        <th>Assigned to (Role)</th>
                        <th>Description</th>
                        <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for section in data.sections %}
                        <tr>
                        <td>{{loop.index}}</td>
                        <td>{{section.title}}</td>
                        <td>
                            {% for role in data.roles %} 
                                {% if role.id == section.roleId %}
                                    {{role.role}}
                                {% endif %}  
                            {% endfor %}
                        </td>
                        <td>{{section.description}}</td>
                        <td>
                        <a href="#" data-toggle="modal" data-target="#editModal" data-id="{{section.id}}">Edit</a> | <a href="#" data-id="{{section.id}}" data-toggle="modal" data-target="#deleteModal">Delete</a> | <a href="{{[url_for("QuestionController", "viewQuestionsForSection"), "?sectionId=", section.id]|join}}">View Questions</a>
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                </div>
        </div>
    {% else %}
        <div class="alert alert-primary">
            You have not created any sections for this form: <span class="font-weight-bold">{{data.form.title}}</span>
        </div>
    {% endif %}

{% endblock %}
{% block modals %}
<!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Section</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
          <div class="alert alert-danger">Are you sure you want to delete this section?</div></div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" id="deleteBtn" href="">Delete</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Section</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Create Modal-->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Section</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  <script>
        $( document ).ready(function(){
            $('#deleteModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element
                var sectionId = $(e.relatedTarget).data('id');

                var url = "{{[url_for("FormSectionController", "deleteSection"), "?sectionId="]|join}}";
                url += sectionId;

                //Change the Href of the button
                $(e.currentTarget).find('#deleteBtn').attr("href", url);
            });

             $('#editModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element
                var sectionId = $(e.relatedTarget).data('id');

                var url = "{{[url_for("FormSectionController", "getEditSectionView"), "?sectionId="]|join}}";
                url += sectionId;

                $.get(url, function( response ) {
                    $('#editModal .modal-body').html(response); 
                });

             });

            $('#editModal, #createModal').on('hidden.bs.modal', function(e) {

                var ajaxLoaderGif = "<div class='ajax-loader'><img src='{{ URL_ROOT }}/img/ajax-loader.gif' alt='Ajax Loader'/></div>"; 

                $('#editModal .modal-body, #createModal .modal-body').html(ajaxLoaderGif); 

            });

            $('#createModal').on('show.bs.modal', function(e) {

                //get the href attribute of the clicked element
                var url = $(e.relatedTarget).attr('href');

                $.get(url, function( response ) {
                    $('#createModal .modal-body').html(response); 
                });

            });

        })
        
  </script>
{% endblock %}