{% macro displayFormControlScript() %}
    <script>
        $( document ).ready(function() {
            $('.tab-pane .next').on('click', function(e) {

                var element = $( this ); 
                var nextTabId = element.data('nextid');
                var nextTab = $("#part-" + nextTabId + "-tab"); 
                nextTab.tab('show'); 
                e.preventDefault(); 
            });
        }); 
    </script>
{% endmacro %}

{% macro displayQuestion(question, index) %}
    {% import "macros/QuestionMacro.twig" as DisplayQuestion %}
    {% if question.answer_format == "RADIO_BOX" %}
        {{DisplayQuestion.displayRadioBox(question, index)}}
    {% elseif question.answer_format == "EMPTY_TEXT_BOX" %}
        {{DisplayQuestion.displayEmptyTextBox(question, index)}}
    {% elseif question.answer_format == "DROP_DOWN" %}
        {{DisplayQuestion.displayDropDown(question, index)}}
    {% elseif question.answer_format == "SIGNATURE" %}
        {{DisplayQuestion.displaySignature(question, index)}}
    {% elseif question.answer_format == "EFFECTIVENESS" %}
        {{DisplayQuestion.displayEffectiveness(question, index)}}
    {% elseif question.answer_format == "SATISFACTION" %}
        {{DisplayQuestion.displaySatisfaction(question, index)}}
    {% elseif question.answer_format == "STATE_DROP_DOWN" %}
        {{DisplayQuestion.displayStateDropDown(question, index)}}
    {% endif %}
{% endmacro %}

{% macro displayEvalForm(form) %}
    {% import _self as FormMacro %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    {% for section in form.sections %}

        {% set navItemClass = "nav-link" %}
        {% set ariaSelected = "false" %}

        {% if loop.first %}
        {% set navItemClass = navItemClass ~ " active" %}
        {% set ariaSelected = "true" %}
        {% endif %}

        <li class="nav-item">
        <a class="{{navItemClass}}" id="{{["part-", loop.index, "-tab"]|join}}" data-toggle="tab" href="{{["#part-", loop.index]|join}}" role="tab" aria-controls="{{["part-", loop.index]|join}}" aria-selected="{{ariaSelected}}">{{section.title}}</a>
        </li>
    {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% for section in form.sections %}

            {% set  divClass = "tab-pane" %}

            {% if loop.first %}
                {% set divClass = divClass ~ " active" %}
            {% endif %}


            <div class="{{divClass}}" id="{{["part-", loop.index]|join}}" role="tabpanel" aria-labelledby="{{["part-", loop.index, "-tab"]|join}}">
                
                {% for question in section.questions %}
                    {{ FormMacro.displayQuestion(question, loop.index) }}
                {% endfor %}

                {% if not loop.first %}
                    <a class="btn btn-secondary next px-5" data-nextId={{loop.index - 1}} href="{{["#part-", loop.index]|join}}">Previous</a>
                {% endif %}

                {% if loop.last %}
                    <input type="submit" value="Submit" class="btn btn-success px-5"> 
                {% else %}
                    <a class="btn btn-primary next px-5" data-nextId={{loop.index + 1}} href="{{["#part-", loop.index]|join}}">Next</a>
                {% endif %}
            </div>

        
        {% endfor %}
    </div>
{% endmacro %}

