{% macro displayProcessingMessage(message, messageType = "success") %}
    {% if message %}

        {% if messageType == "success"  %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% elseif messageType == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ message|raw }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}