{% macro displayNavigation(navigation) %}
    <ul class="sidebar navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="{{url_for("HomeController", "index")}}">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Overview</span>
            </a>
          </li>

          {% for navItem in navigation if navItem.isActive %}
            {% if navItem.childNodes is empty %}
                {% set navClass = "nav-item" %}

                {% if navItem.isInCurrentPath %}
                   {% set navClass = navClass ~ " active" %}
                {% endif %}

                <li class="{{navClass}}">
                    <a class="nav-link" href="{{navItem.urlWithParams}}"><span>{{navItem.title}}</span></a>
                </li>
            {% else %}
                {% set navClass = "nav-item dropdown" %}

                {% if navItem.isInCurrentPath %}
                   {% set navClass = navClass ~ " active" %}
                {% endif %}

                <li class="{{navClass}}">
                    <a class="nav-link dropdown-toggle" href="{{navItem.urlWithParams}}" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>{{navItem.title}}</span></a>

                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        {% for childNavItem in navItem.childNodes %}
                            {% set childNavClass = "dropdown-item" %}

                            {% if childNavItem.isInCurrentPath %}
                                {% set childNavClass = childNavClass ~ " active" %}
                            {% endif %}

                            <a class="{{childNavClass}}" href="{{childNavItem.urlWithParams}}">{{childNavItem.title}}</a>
                        {% endfor %}
                    </div>
                
                </li>

               
            {% endif %}
            
          {% endfor %}

    </ul>
{% endmacro %}

{% macro displayBreadcrumbs(breadcrumbs) %}
    {% if breadcrumbs %}
        <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        
            {% if loop.last %}
                <li class="breadcrumb-item active">{{breadcrumb.title}}</li>
            {% else %}
                <li class="breadcrumb-item">
                    <a href="{{breadcrumb.urlWithParams}}">{{breadcrumb.title}}</a>
                </li>
            {% endif %}  
            
        {% endfor %}
        </ol>
    {% endif %}
{% endmacro %}