{% macro displayRadioBox(question, index) %}
    <div class="form-group">
        <div>
            <label><strong><span>{{index}}. </span>{{question.question}}</strong></label>
        </div>
        {% for option in question.options %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="{{["question", question.id]|join}}" id="{{["question", question.id]|join}}" value="{{option}}">
                <label class="form-check-label" for="{{["question", question.id]|join}}">{{option}}</label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro displayEmptyTextBox(question, index) %}
    <div class="form-group">
        <label><strong><span>{{index}}. </span>{{question.question}}</strong></label>
        <input type="text" class="form-control" name="{{["question", question.id]|join}}" id="{{["question", question.id]|join}}"/>
    </div>
{% endmacro %}

{% macro displayDropDown(question, index) %}
    <div class="form-group">
        <label><strong><span>{{index}}. </span>{{question.question}}</strong></label>
        <select class="form-control" name="{{["question", question.id]|join}}">
            {% for option in question.options %}
                <option value="{{option}}">{{option}}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro displaySignature(question, index) %}
    <div class="form-group">
        <label><strong><span>{{index}}. </span>{{question.question}}</strong></label>
        <input type="text" class="form-control" name="{{["question", question.id]|join}}" id="{{["question", question.id]|join}}" placeholder="Your Name will be used as your signature" disabled/>
    </div>
{% endmacro %}

{% macro displayEffectiveness(question, index) %}
    {% set effectiveness = ["Very Effective", "Effective", "Ineffective", "Don't Know"] %}
    <div class="form-group">
        <div>
            <label><strong><span>{{index}}. </span>{{question.question}}</strong></label>
        </div>
        {% for effectivenessRate in effectiveness %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="{{["question", question.id]|join}}" id="{{["question", question.id]|join}}" value="{{effectivenessRate}}">
                <label class="form-check-label" for="{{["question", question.id]|join}}">{{effectivenessRate}}</label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro displaySatisfaction(question, index) %}
    {% set satisfaction = ["Very Satisfied", "Satisfied", "Fairly Satisfied", "Not Satisfied"] %}
    <div class="form-group">
        <div>
            <label><strong><span>{{index}}. </span>{{question.question}}</strong></label>
        </div>
        {% for satisfactionRate in satisfaction %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="{{["question", question.id]|join}}" id="{{["question", question.id]|join}}" value="{{satisfactionRate}}">
                <label class="form-check-label" for="{{["question", question.id]|join}}">{{satisfactionRate}}</label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro displayStateDropDown(question, index) %}
    {% set states = ["Abia", "Adamawa", "Anambra", "Akwa Ibom", "Bauchi", "Bayelsa", "Benue",
                     "Borno", "Cross River", "Delta", "Ebonyi", "Enugu", "Edo", "Ekiti", "FCT - Abuja", "Gombe",
                     "Imo", "Jigawa", "Kaduna", "Kano", "Katsina", "Kebbi", "Kogi", "Kwara", "Lagos", "Nasarawa",
                     "Niger", "Ogun", "Ondo", "Osun", "Oyo", "Plateau", "Rivers", "Sokoto", "Taraba", "Yobe", "Zamfara"] %}

    <div class="form-group">
        <label><strong><span>{{index}}. </span>{{question.question}}</strong></label>
        <select class="form-control" name="{{["question", question.id]|join}}">
            {% for state in states %}
                <option value="{{state}}">{{state}}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}







