{% macro displayCreateButton(controller, handler, buttonText) %}
     <section class="mb-2"> 
      <a href="{{url_for(controller, handler)}}" data-toggle="modal" data-target="#createModal" class="btn btn-primary">{{buttonText}}</a>
    </section>
{% endmacro %}

{% macro displayDeleteModal(heading, bodyText)%}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{heading}}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger">{{bodyText}}</div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" id="deleteBtn" href="#">Delete</a>
          </div>
        </div>
      </div>
    </div>
{% endmacro %}
