{% extends "base.twig" %}
{% block unique_meta %}
    <meta name="author" content="Ezerioha Somtochukwu E., Kofi Oghenerukevwe H."> 
  {% endblock %}

{% block unique_css_includes %}
    <link href="{{ URL_ROOT }}/public/js-css/login.css" rel="stylesheet"> 
{% endblock %}

{% block main %}
    <body id="body">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 mx-auto">

                    <div class="text-center">
                        <!--NYSC logo and alert text!-->
                        <img class="" src="{{ URL_ROOT }}/public/img/nysc-logo.png" alt="Logo">
                        {% if data.processingMessage %}
                            <div class="alert" role="alert">
                            <img class="delete-button" src="{{URL_ROOT}}/public/img/delete-button.svg" alt="delete">
                                <span>{{data.processingMessage}}</a></span>
                            </div>
                        {% endif %}
                    </div>

                    <!--Corper login form-->
                    <div class="card-corp mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Sign in</h5>
                            <hr class="h-rule">
                            <form class="form-login-corp mt-5" action="{{url_for("AuthController", "login")}}" method="post" >
                                <div class="form-group">
                                    <label for="state-code">State Code/Username: </label>
                                    <p class="font-weight-italic" style="font-size: 12px"><em>Statecode is case sensitive. Use capital letters</em></p>
                                    <input type="text" name="username" class="form-control" id="state-code" placeholder="e.g LA/18B/0000" required>
                                </div>
                                <div class="form-group">
                                    <label for="call-up-number">Surname/Password:</label>
                                    <input name="password" type="password" class="form-control" id="password" placeholder="e.g Peters" required>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="check-one">
                                    <label class="form-check-label" for="checkbox">Keep me signed in</label>
                                </div>
                                <input type="submit" value="Sign in" class="btn btn-dark mb-3" name="submit">
                            </form> 
                        </div>
                    </div>
                    <!-- form ends here -->
                    <p class="footer-note">Copyright &copy; 2018 - {{ date_year("Y") }} National Youth Service Corps. All rights reserved. Call 08169312496 for enquiries</p>
                </div>
            </div>

        </div>
    </body>
{% endblock %}
