{% extends "dashboard.twig" %}
{% import "macros/FormMacro.twig" as Form %}

{% block content %}
  <form method="post" action="{{url_for("FormResponseController", "submitFormResponse")}}">
    {{ Form.displayEvalForm(data) }}
  </form>
{% endblock %}

{% block scripts %}
  {{ Form.displayFormControlScript() }}
{% endblock %}