{% extends "dashboard.twig" %}

{% block content %}
    <h2>Click on the form you want to fill:</h2> 
    <div class="row mt-5">
        {% for form in data.forms %}
            <a href="{{[url_for('FormResponseController', 'getFormViewForUserRole'), "?formTitle=", form.title]|join}}" class="col-12 col-md-4">
                <div class="card bg-light mb-3">
                    {# <div class="card-header">{{form.title}}</div> #}
                    <div class="card-body">
                        <h5 class="card-title">{{form.title}}</h5>
                        {# <p class="card-text">{{form.description}}</p> #}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
  
{% endblock %}