{% extends "dashboard.twig" %}

{% block content %}
    <h3>Upload the CSV file to add corpers to the database </h3>
    <form action="{{url_for("CorperController", "uploadCorperData")}}" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="corpers">Upload CSV File of Corpers <strong>(only .xlsx file supported)</strong></label>
            <input type="file" class="form-control-file" id="corperSpreadsheet" name="corperSpreadsheet" accept=".xlsx">
        </div>

        <input type="submit" value="Upload File" class="btn btn-primary" name="submit">
    </form>

    <div>
        <h5 class="mt-4">Example of a valid spreadsheet format:</h5>
        <img class="img img-fluid" src="{{ URL_ROOT }}/public/img/valid-corper-upload-format.PNG" alt-text="Image description of what a valid upload looks like">
    </div>

    <div>
        <h5 class="mt-4">Example of Invalid spreadsheet format: Spreadsheet with headings is invalid. <small>Ensure to remove headings before upload</small></h5>
        <img class="img img-fluid" src="{{ URL_ROOT }}/public/img/invalid-corper-upload-with-headings.PNG"/>
    </div>
{% endblock %}