{% extends "superadmin/includes/super_admin_dashboard.twig" %}
{##}
{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{url_for("SuperAdminController", "superAdminOverview")}}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
    </ol>
    {{data.Word}}
    {{data.title}}
{% endblock %}
