<script>
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    $(document).ready(function(){

        var ajaxLoaderImg = "    <img class='ajaxLoader' src='{{ URL_ROOT }}/img/ajax-loader.gif' alt='Ajax Loader'/>"

        updateQuestionsandSections(); 

        $("#formId").change(function(){

            $("#form-sections label").append(ajaxLoaderImg); 
            $("#section-questions label").append(ajaxLoaderImg); 

            updateQuestionsandSections(); 
        }); 

        $("#form-sections").on("change", "#sectionId", function(){
            $("#section-questions label").append(ajaxLoaderImg);
            updateQuestions(); 
        }); 

        $("#section-questions").on("change", "#questionId", function(){
            updateQuestionResponse(); 
        }); 

        $("#filterButton").on("click", function(){
            var completed = $("#completed").val(); 
            var institution = $("#institution").val(); 
            var state = $("#state").val(); 
            var qualification = $("#qualification").val(); 
            var timestamp = $("#timestamp").val(); 
            var filterData = {
                completed: completed,
                institution: institution,
                state: state,
                qualification: qualification,
                timestamp: timestamp
            }
            var filterString = $.param(filterData); 

            updateQuestionResponse(filterString); 
        }); 

        function updateQuestionsandSections(){
            var formDropdown = $("#formId"); 
            var url = "{{url_for('AnalysisController', 'getCorperSectionsForForm')}}" + "?formId=" + formDropdown.val();

           
            $.get(url, function(response){

                $("#form-sections").html(response); 
                $("#form-sections label.ajaxLoader").remove(); 
                updateQuestions(); 
                
            }); 
            
        }

        function updateQuestions(){
            var url = "{{url_for('AnalysisController', 'getQuestionsForSection')}}" + "?sectionId=" + $("#sectionId").val(); 
            $.get(url, function(response){
                $("#section-questions").html(response); 
                $("#section-questions label.ajaxLoader").remove(); 
                updateQuestionResponse(); 
            }); 
        }

        function updateQuestionResponse(filterString = null){

            var url = "{{url_for('AnalysisController', 'getResponseAnalysisForQuestion')}}" + "?questionId=" + $("#questionId").val(); 

            if(filterString != null){
                url += "&" + filterString; 
            }

            $("#responses").removeAttr("hidden"); 
            var ajaxDiv = "<div class='ajax-loader'>" + ajaxLoaderImg + "</div>"; 
            var responseChart = $("#responses .response-chart").html(); 
            $("#responses .response-chart").html(ajaxDiv); 

            $.get(url, function(response){
               
               
                var responseData = $.parseJSON(response); 
                createTableBody(responseData.aggregatedResponses, responseData.totalResponseCount);  
                $("#responses .response-chart").html(responseChart); 

                $("#response-pane").show(); 
                if(Object.keys(responseData.aggregatedResponses).length > 10){
                    $("#noChart").removeAttr("hidden"); 
                }else{
                    drawCharts(responseData.aggregatedResponses); 
                    $("#responseCharts").removeAttr("hidden"); 
                }
            }); 
        }

        function createTableBody(aggregatedResponses, totalCount){
            var tableRows = ""; 
            for(var i = 0; i < Object.keys(aggregatedResponses).length; i++){
                var tableRow = "<tr>"
                tableRow += "<td>" + (i + 1) + "</td>"; 
                tableRow += "<td>" + aggregatedResponses[i].Response + "</td>"
                tableRow += "<td>" + aggregatedResponses[i].Count + "</td>"
                tableRow += "<td>" + aggregatedResponses[i].Percentage + "</td>"
                tableRow += "</tr>"
                tableRows += tableRow; 
            }
            $("#tableBody").html(tableRows); 
            $("#totalResponseCount").html("Total Response Count: " + totalCount); 
        }

        function generateColor(num){

            red = "#ff6f3"; 
            blue = "#abfff"; 
            var base = blue; 

            if(num % 2){
                base = red; 
            }

            base = base + num.toString(); 
            return base; 
                   
        }

        function drawCharts(responses){
            
            var responseText = []; 
            var responseCounts = []; 
            var responsePercentage = [];
            var colors = []; 
            for(var i = 0; i < Object.keys(responses).length; i++){
                responseText.push(responses[i].Response); 
                responseCounts.push(responses[i].Count); 
                responsePercentage.push(responses[i].Percentage); 
                colors.push(generateColor(i)); 
            }
            drawPieChart(responseText, responseCounts, responsePercentage, colors); 
            drawBarChart(responseText, responseCounts, responsePercentage, colors); 
        }

        function drawPieChart(responseText, responseCounts, responsePercentage, colors){
            var pieChartCard = document.getElementById("PieChart");
            var pieChart = new Chart(pieChartCard, {
                type: 'pie',
                data: {
                    labels: responseText,
                    datasets: [{
                        data: responsePercentage,
                        backgroundColor: colors
                    }], 
                }
            }); 
        }

        function drawBarChart(responseText, responseCounts, responsePercentage, colors){
            var barChartCard = document.getElementById("BarChart"); 
            var barChart = new Chart(barChartCard, {
                type: 'bar',
                data: {
                    labels: responseText,
                    datasets: [{
                        data: responseCounts,
                        backgroundColor: colors
                    }], 
                }, 
                options: {
                    legend: {
                        display: false
                    }
                }
            }); 
        }
    })
</script>