{% extends "dashboard.twig" %}

{% block content %}

  <div class="my-3">
    <div class="card mb-3">
      <div class="card-header">
        <p class="font-weight-bold">Choose the Question and Form you want to analyze</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col form-group">
            <label for="formId">What form do you want to analyze</label>
            <select id="formId" name="formId" class="form-control">
              {% for form in data.formsList %}
              <option value="{{form.id}}">{{form.title}}</option>
              {% endfor %}
            </select> 
          </div>

          <div class="col form-group" id="form-sections"></div>
        </div>
        
        <div class="form-group" id="section-questions"></div>
      </div>
    </div>

    <div class="response-pane card" id="response-pane">
      <div class="card-header bg-dark text-white">
        <p class="font-weight-bold">Responses</p> 
      </div>

      <div class="card-body" id="responses" hidden>
        <div class="response-chart">
          <div class="row mb-3">
              <p class="col">Click here to view table version <a href="#" data-toggle="modal" data-target="#tableModal"> View Table</a></p>
          </div> 
          <div class="row mb-3" id="responseCharts" hidden>
              <div class="col-lg-8">
                  <div class="card mb-3">
                  <div class="card-header">
                      <i class="fas fa-chart-bar"></i>
                      Bar Chart (Values indicate raw response counts)</div>
                  <div class="card-body">
                      <canvas id="BarChart" width="100%" height="50"></canvas>
                  </div>
                  <div class="card-footer small text-muted">Remember to refresh the page</div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="card mb-3">
                  <div class="card-header">
                      <i class="fas fa-chart-pie"></i>
                      Pie Chart (Values are in Percentage)</div>
                  <div class="card-body">
                      <canvas id="PieChart" width="100%" height="100"></canvas>
                  </div>
                  <div class="card-footer small text-muted">Remember to refresh the page</div>
                  </div>
              </div>
          </div>

          <p id="noChart" hidden> Too many data points to generate charts, <a href="#" data-toggle="modal" data-target="#tableModal">View Table Format</a></p> 

        </div>

        <div class="card">
          <div class="card-header bg-secondary text-white">Filters</div>
          <div class="card-body">
            <div class="row">
              <div class="col form-group">
                <label for="institution">Show only responses from corpers who attended this <strong>institution</strong>: </label>
                <select id="institution" name="institution" class="form-control">
                  <option value="">All Institutions</option>
                  {% for institution in data.institutionsList %}
                    <option value="{{institution.institution_name}}">{{institution.institution_name}}</option>
                  {% endfor %}
                </select>
              </div> 
              <div class="col form-group">
                <label for="qualification">Show only responses from corpers with this <strong>qualification</strong>: </label>
                <select id="qualification" name="qualification" class="form-control">
                  <option value="">All Qualifications</option>
                  {% for qualification in data.qualificationsList %}
                    <option value="{{qualification.qualification}}">{{qualification.qualification}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col form-group">
                <label for="state">Show only responses from corpers serving in this <strong>state</strong></label>
                <select id="state" name="state" class="form-control">
                  <option value="">All States</option>
                  {% for state in data.statesList %}
                    <option value="{{state}}">{{state}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col form-group">
                <label for="completed">Show only responses from corpers who filled the entire form</label>
                <select id="completed" name="completed" class="form-control">
                  <option value="false">No</option> 
                  <option value="true">Yes</option>
                </select>
              </div>

              <input type="hidden" id="timestamp" name="timestamp" value="">
              
            </div>

            <div class="row">
              <div class="form-group">
                <button id="filterButton" class="btn btn-primary btn-block px-5 ml-3">Filter / Refresh</button>
                <div class="font-italic small text-muted">To remove an existing filter, just set the option to All before clicking this button</div>
              </div>
            </div>

          </div> 
        </div>

      </div> 
    </div>
  </div> 

{% endblock %}

{% block modals %}
  <div class="modal fade" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="tableModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Table View</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-bordered" id="" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>S/N</th>
                        <th>Response</th>
                        <th>Count</th>
                        <th>Percentage</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>S/N</th>
                        <th>Responses</th>
                        <th id="totalResponseCount"></th>
                        <th>Total Percent: 100%</th>
                      </tr>
                    </tfoot>
                    <tbody id="tableBody">
                      </tbody>
                  </table>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ URL_ROOT }}/public/js-css/Chart.min.js"></script>
  {% include 'analysis/analysisjs.twig' %}
{% endblock %}