<label for="questionId">Select a question from this section:</label>
<select id="questionId" name="questionId" class="form-control">
    {% for question in data.questionsList%}
        <option value="{{question.id}}">{{loop.index}}. {{question.question}}</option>
    {% endfor %}
</select>
