<label for="sectionId">Select a Section of this Form: </label>
<select id="sectionId" name="sectionId" class="form-control">
    {% for section in data.sectionsList%}
        <option value="{{section.id}}">{{loop.index}}. {{section.title}}</option>
    {% endfor %}
</select>
