{% extends "dashboard.twig" %}

{% block content %}

  <div class="my-3">
    <div class="card mb-3">
      <div class="card-header">
        <p class="font-weight-bold">Choose the State and Form you want to view stats for</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col form-group">
            <label for="state">What state are you viewing stats for?</label>
            <select id="state" name="state" class="form-control">
              {% for state in data.statesList %}
              <option value="{{state}}">{{state}}</option>
              {% endfor %}
            </select> 
          </div>
          
         <div class="col form-group">
            <label for="formId">What form do you want to view stats for</label>
            <select id="formId" name="formId" class="form-control">
              {% for form in data.formsList %}
              <option value="{{form.id}}">{{form.title}}</option>
              {% endfor %}
            </select> 
         </div>

         
        </div>
        
        <div class="row">
            <button class="ml-3 btn btn-primary" id="statsBtn">Get Latest Stats</button>
        </div>

        <div class="row" id="stats">

        </div>
      </div>
    </div>

  </div> 

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $("#statsBtn").on('click', function(){

                var ajaxLoaderImg = "<div class='col ajax-loader'><img class='ajaxLoader' src='{{ URL_ROOT }}/img/ajax-loader.gif' alt='Ajax Loader'/></div>"
                $("#stats").html(ajaxLoaderImg); 

                var url = "{{url_for('LiveStatsController', 'getLiveStats')}}"; 
                url += "?state=" + $("#state").val(); 
                url += "&formId=" + $("#formId").val(); 
                $.get(url, function(response){
                    response = JSON.parse(response); 
                    console.log(response);
                   
                    if(response == null){
                        console.log("hello"); 
                        $("#stats").html("<p class='mx-auto mt-4'>No stats for this form in this state</p>");
                    } else {
                        var statsDiv = "<div class='mx-auto mt-4'>"; 
                        statsDiv += "Total number of corpers who have submitted responses to this form in this state: ";
                        statsDiv += "<strong>" + response.totalResponses + "</strong>"; 
                        statsDiv += "</br>"; 
                        statsDiv += "Total number of corpers who completely filled this form in this state: ";
                        statsDiv += "<strong>" + response.totalCompletedResponses + "</strong>"; 
                        statsDiv += "</br>"; 
                        statsDiv += "</div>"; 
                        $("#stats").html(statsDiv); 
                    }
                })
            }); 
        }); 
    </script>
{% endblock %}