{% extends "dashboard.twig" %}

{% block content %}

  <h3 class="mb-3">Viewing Live Form Stats for Corpers in {{data.state}}</h3>

  <div class="my-3">
    <div class="card mb-3">
      <div class="card-header">
        <p class="font-weight-bold">Choose the Form you want to view stats for</p>
      </div>
      <div class="card-body">
        <div class="row">     
         <input type="hidden" id="state" value="{{data.state}}"/>   
         <div class="col form-group">
            <label for="formId">What form do you want to view stats for</label>
            <select id="formId" name="formId" class="form-control">
              {% for form in data.formsList %}
              <option value="{{form.id}}">{{form.title}}</option>
              {% endfor %}
            </select> 
         </div>

         
        </div>
        
        <div class="row">
            <button class="ml-3 btn btn-primary" id="statsBtn">Get Latest Stats</button>
            <span class="ml-3" hidden id="timestampBtn"><button class="btn btn-success" >Create Timestamp for This Form </button> <i class="fa fa-question-circle" aria-hidden="false" data-toggle="tooltip" data-placement="top" title="To make data analysis easier, when you create a timestamp, during analysis, you will be able to choose to analyze only responses from corpers that filled the form before this timestamp"></i></span>
        </div>

        <div class="row" id="stats">

        </div>
      </div>
    </div>

  </div> 

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $("#statsBtn").on('click', function(){

                var ajaxLoaderImg = "<div class='col ajax-loader'><img class='ajaxLoader' src='{{ URL_ROOT }}/img/ajax-loader.gif' alt='Ajax Loader'/></div>"
                $("#stats").html(ajaxLoaderImg); 

                var url = "{{url_for('LiveStatsController', 'getLiveStats')}}"; 
                url += "?state=" + $("#state").val(); 
                url += "&formId=" + $("#formId").val(); 
                $.get(url, function(response){
                    response = JSON.parse(response); 
                    console.log(response);
                   
                    if(response == null){
                        $("#stats").html("<p class='mx-auto mt-4'>No stats for this form in this state</p>");
                        $("#timestampBtn").attr("hidden", true); 
                    } else {
                        var statsDiv = "<div class='mx-auto mt-4'>"; 
                        statsDiv += "Total number of corpers who have submitted responses to this form in this state: ";
                        statsDiv += "<strong>" + response.totalResponses + "</strong>"; 
                        statsDiv += "</br>"; 
                        statsDiv += "Total number of corpers who completely filled this form in this state: ";
                        statsDiv += "<strong>" + response.totalCompletedResponses + "</strong>"; 
                        statsDiv += "</br>"; 
                        statsDiv += "</div>"; 
                        $("#stats").html(statsDiv); 
                        $("#timestampBtn").removeAttr("hidden"); 
                    }
                })
            }); 

            $("#timestampBtn button").on('click', function(){
                var url = "{{url_for('LiveStatsController', 'createTimestampForCurrentUser')}}";
                $.post(url, 
                {
                    formId: $("#formId").val()
                },
                function(response, status){
                    response = JSON.parse(response);
                    alert("Timestamp created for: " + response.timestamp + " (Time is presented for UTC timezone)"); 
                })
            }); 

            $("#formId").on('change', function(){
                $("#timestampBtn").attr("hidden", true); 
                $("#stats").html(""); 
            }); 
        }); 
    </script>
{% endblock %}