{% if data.aggregatedResponses|length <= 10 %}
    <div class="row mb-3">
        <p class="col">Click here to view table version <a href="#" data-toggle="modal" data-target="#tableModal"> View Table</a></p>
    </div> 
    <div class="row mb-3">
        <div class="col-lg-8">
            <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-bar"></i>
                Bar Chart</div>
            <div class="card-body">
                <canvas id="BarChart" width="100%" height="50"></canvas>
            </div>
            <div class="card-footer small text-muted">Remember to refresh the page</div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-pie"></i>
                Pie Chart</div>
            <div class="card-body">
                <canvas id="PieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">Remember to refresh the page</div>
            </div>
        </div>
    </div>
{% else %}
    <p> Too many data points to generate charts, <a href="#" data-toggle="modal" data-target="#tableModal">View Table</a></p> 
{% endif %}

<div class="modal fade" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="tableModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Table View</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>S/N</th>
                      <th>Response</th>
                      <th>Count</th>
                      <th>Percentage</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>S/N</th>
                      <th>Responses</th>
                      <th>Total Response Count: {{data.totalResponseCount}}</th>
                      <th>Total Percent: 100%</th>
                    </tr>
                  </tfoot>
                  <tbody>
                        {% for response in data.aggregatedResponses %}
                            <tr>
                            <td>{{loop.index}}</td>
                            <td>{{response.Response}}</td>
                            <td>{{response.Count}}</td>
                            <td>{{response.Percentage}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
</div>

<!-- Page level plugin JavaScript-->
<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    // Pie Chart Example
    var pieChartCard = document.getElementById("PieChart");
    var responses = {{data.aggregatedResponses|json_encode()}}; 
    console.log(responses[0]); 
    var myPieChart = new Chart(pieChartCard, {
    type: 'pie',
    data: {
        labels: ["Blue", "Red", "Yellow", "Green"],
        datasets: [{
            data: [12.21, 15.58, 11.25, 8.32],
            backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745'],
        }],
    },
    });
</script>