<form action="{{url_for("FormController", "createForm")}}" method="POST">

    <div class="form-group">
        <label for="title">Form Title</label>
        <input class="form-control" type="text" required name="title" id="title">
        
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" required name="description" id="description"></textarea>
    </div>
    <input type="submit" value="Create Form" class="btn btn-primary" name="submit">
</form>
    
