<form action="{{url_for("FormController", "editForm")}}" method="POST">

    <input type="hidden" value="{{data.form.id}}" name="formId" id="formId">

    <div class="form-group">
        <label for="title">Form Title</label>
        <input class="form-control" type="text" value="{{data.form.title}}" required name="title" id="title">
        
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" required name="description" id="description">{{data.form.description}}</textarea>
    </div>

    <input type="submit" value="Edit Form" class="btn btn-primary" name="submit">
</form>
    
