{% extends "dashboard.twig" %}
{% import "macros/UtilityMacro.twig" as Utility %}

{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url_for("SuperAdminController", "superAdminOverview")}}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">List of Forms</li>
    </ol>

    {{Utility.displayCreateButton("FormController", "getCreateFormView", "Click to Create New Form")}}

    <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              List of Forms</div>
            <div class="card-body">
              <div class="table-responsive-sm">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>S/N</th>
                      <th>Form Title</th>
                      <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>S/N</th>
                      <th>Role</th>
                      <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for form in data.forms %}
                    <tr>
                      <td>{{loop.index}}</td>
                      <td>{{form.title}}</td>
                      <td>{{form.description}}</td>
                      <td>
                       <a href="#" data-id="{{form.id}}" data-toggle="modal" data-target="#editModal">Edit</a> | <a href="#" data-id="{{form.id}}" data-toggle="modal" data-target="#deleteModal">Delete</a> | <a href="{{[url_for('FormSectionController', 'viewSectionsForForm'), "?formId=", form.id]|join}}">View Sections</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
    </div>

{% endblock %}
{% block modals %}

  {{Utility.displayDeleteModal("Delete Form", "Are you sure you want to delete this form")}}

   <!-- Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Form</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Create Modal-->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Form</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
      $(document).ready(function(){

         $('#deleteModal').on('show.bs.modal', function(e) {

            //get data-id attribute of the clicked element
            var formId = $(e.relatedTarget).data('id');

            var url = "{{[url_for("FormController", "deleteForm"), "?formId="]|join}}";
            url += formId;

            //Change the Href of the button
            $(e.currentTarget).find('#deleteBtn').attr("href", url);
         });

         $('#editModal').on('show.bs.modal', function(e) {

              //get data-id attribute of the clicked element
              var formId = $(e.relatedTarget).data('id');

              var url = "{{[url_for("FormController", "getEditFormView"), "?formId="]|join}}";
              url += formId;

              $.get(url, function( response ) {
                  $('#editModal .modal-body').html(response); 
              });

          });


           $('#editModal, #createModal').on('hidden.bs.modal', function(e) {

              var ajaxLoaderGif = "<div class='ajax-loader'><img src='{{ URL_ROOT }}/img/ajax-loader.gif' alt='Ajax Loader'/></div>"; 

               $('#editModal .modal-body, #createModal .modal-body').html(ajaxLoaderGif); 

          });

          $('#createModal').on('show.bs.modal', function(e) {

              //get the href attribute of the clicked element
              var url = $(e.relatedTarget).attr('href');

              $.get(url, function( response ) {
                  $('#createModal .modal-body').html(response); 
              });

          });

      }); 
       
  </script>
{% endblock %}