<form action="{{url_for("StaffController", "createStaff")}}" method="POST" id="createStaffForm">

    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" required name="username" id="username">
        
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="text" required name="password" id="password">
    </div>

    <div class="form-group">
        <label for="roleId">Form Role <i class="fa fa-question-circle" aria-hidden="false" data-toggle="tooltip" data-placement="top" title="The Role that will be used to assign the user to particular sections of a form that they are meant to fill"></i></label>

        <select class="form-control" required name="roleId" id="roleId">
        {% for role in data.roles %}
        <option value="{{role.id}}">{{role.role}}</option>
        {% endfor %}
        </select> 
    </div>

     <div class="form-group">
        <label for="accessRole">Access Role  <i class="fa fa-question-circle" aria-hidden="false" data-toggle="tooltip" data-placement="top" title="The Role that will be used to determine which parts of the Evaluation Platform a user has access to. E.g an analyst can only have access to the parts of the platform used for analysis"></i></label>
        <select class="form-control" required name="accessRole" id="accessRole">
        {% for access_role in data.access_roles %}
        <option value="{{access_role}}">{{access_role}}</option>
        {% endfor %}
        </select> 
    </div>

    <div class="form-group">
        <label for="firstname">First Name</label>
        <input class="form-control" type="text" required name="firstname" id="firstname">
    </div>

    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input class="form-control" type="text" required name="lastname" id="lastname">
    </div>

    <div class="form-group">
        <label for="phonenumber">Phone Number</label>
        <input class="form-control" type="text" required name="phonenumber" id="phonenumber">
    </div>

   <div class="form-group">
        <label for="state">State</label>
        <select class="form-control" required name="state" id="state">
        {% for state in data.states %}
        <option value="{{state}}">{{state}}</option>
        {% endfor %}
        </select> 
    </div>

    <input type="submit" value="Create Staff" class="btn btn-primary" name="submit">
</form>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
