{% extends "dashboard.twig" %}

{% block content %}
   <section class="mb-2"> 
      <a href="{{url_for("StaffController", "getStaffCreationView")}}" data-toggle="modal" data-target="#createModal" class="btn btn-primary">Click to Create New Staff</a>
    </section>

    <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              List of Staff</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>S/N</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Phone Number</th>
                      <th>Username</th>
                      <th>Role</th>
                      <th>Access Role</th>
                      <th>State</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>S/N</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Phone Number</th>
                      <th>Username</th>
                      <th>Role</th>
                      <th>Access Role</th>
                      <th>State</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody>
                 
                    {% for s in data.staff %}
                    <tr>
                      <td>{{loop.index}}</td>
                      <td>{{s.first_name}}</td>
                      <td>{{s.last_name}}</td>
                      <td>{{s.phone_number}}</td>
                      <td>{{s.username}}</td>
                      <td>{{s.role}}</td>
                      <td>{{s.access_role}}</td>
                      <td>{{s.state}}</td>
                      <td>
                      <a href="#" data-id="{{s.user_id}}" data-toggle="modal" data-target="#deleteModal">Delete</a> | <a href="#" data-id="{{s.user_id}}" data-toggle="modal" data-target="#resetPasswordModal">Reset Password</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
    </div>

{% endblock %}

{% block modals %}
<!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Staff</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger">Are you sure you want to delete this staff, it can't be undone?</div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" id="deleteBtn" href="{{[url_for("StaffController", "deleteStaff"), "?staffId="]|join}}">Delete</a>
          </div>
        </div>
      </div>
    </div>

    
     <!-- Reset Password Modal-->
    <div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Role</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

     <!-- Create Modal-->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create New Staff</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  <script>
        $( document ).ready(function() {
          $('#deleteModal').on('show.bs.modal', function(e) {

              //get data-id attribute of the clicked element
              var staffId = $(e.relatedTarget).data('id');

              var url = "{{[url_for("StaffController", "deleteStaff"), "?staffId="]|join}}";
              url += staffId;

              $(e.currentTarget).find('#deleteBtn').attr("href", url);
          });

          $('#editModal').on('show.bs.modal', function(e) {

              //get data-id attribute of the clicked element
              var staffId = $(e.relatedTarget).data('id');

              var url = "{{[url_for("StaffController", "editStaff"), "?staffId="]|join}}";
              url += staffId;

              $.get(url, function( response ) {
                  $('#editModal .modal-body').html(response); 
              });

          });

          $('#resetPasswordModal').on('show.bs.modal', function(e){
              //get data-id attribute of the clicked element
              var staffId = $(e.relatedTarget).data('id');

              var url = "{{[url_for("StaffController", "resetPassword"), "?staffId="]|join}}";
              url += staffId;

              $.get(url, function( response ) {
                  $('#resetPasswordModal .modal-body').html(response); 
              });
          }); 

          $('#editModal, #createModal,  #resetPasswordModal').on('hidden.bs.modal', function(e) {

              var ajaxLoaderGif = "<div class='ajax-loader'><img src='{{ URL_ROOT }}/img/ajax-loader.gif' alt='Ajax Loader'/></div>"; 

               $('#editModal .modal-body, #createModal .modal-body, #resetPasswordModal .modal-body').html(ajaxLoaderGif); 

          });

          $('#createModal').on('show.bs.modal', function(e) {

              var url = $(e.relatedTarget).attr('href');

              $.get(url, function( response ) {
                  $('#createModal .modal-body').html(response); 
              });

          });
        }); 
  </script>
{% endblock %}