<form action="{{url_for("StaffController", "resetPassword")}}" method="POST">

    <input type="hidden" value="{{data.staffId}}" name="staffId" id="staffId">
    <div class="form-group">
        <label for="password">New Password</label>
        <input class="form-control" type="text" required name="password" id="password">
    </div>
    <input type="submit" value="Reset Password" class="btn btn-primary" name="submit">
</form>
