{% extends "dashboard.twig" %}


{% block content %}

    <div class="row">
        {% for form in data.forms %}
            
                <div class="col-12 col-md-3 my-2 mx-2">
                    <div class="card">
                        <div class="card-header">
                            {{form.form.title}}
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for role in form.rolesForForm %}
                                <li class="list-group-item">{{role.role}} <a href="{{[url_for("FormStatusController", "activateFormForRole"), "?formId=", form.form.id, "&roleId=", role.id]|join}}">Activate</a> | <a href="{{[url_for("FormStatusController", "deactivateFormForRole"), "?formId=", form.form.id, "&roleId=", role.id]|join}}">Deactivate</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
 
{% endblock %}