<form action="{{url_for("QuestionController", "createQuestion")}}" method="POST">

    <input type="hidden" value="{{data.section.id}}" name="sectionId" id="sectionId">

    <div class="form-group">
        <label for="question">Question</label>
        <input class="form-control" type="text" required name="questionText" id="questionText">
        
    </div>

    <div class="form-group">
        <label for="answerFormat">Answer Format</label>
            <select class="form-control" name="answerFormat" id="answerFormat" required>
            {% for answerFormat in data.answerFormats %}
            <option value="{{answerFormat.formatValue}}">{{answerFormat.formatName}}</option>
            {% endfor %}
            </select> 
    </div>
    
    <input type="submit" value="Create Question" class="btn btn-primary" name="submit">
</form>
