<form action="{{url_for("QuestionController", "editQuestion")}}" method="POST">

    <input type="hidden" value="{{data.question.id}}" name="questionId" id="questionId">

    <div class="form-group">
        <label for="questionText">Question</label>
        <input class="form-control" value="{{data.question.question}}" type="text" required name="questionText" id="questionText">
        
    </div>

    <div class="form-group">
        <label for="answerFormat">Answer Format</label>
            <select class="form-control" name="answerFormat" id="answerFormat" required>
            {% for answerFormat in data.answerFormats %}
            {% if answerFormat.formatValue == data.question.answerFormat %}
                <option selected value="{{answerFormat.formatValue}}">{{answerFormat.formatName}}</option>
            {% else %}
                <option value="{{answerFormat.formatValue}}">{{answerFormat.formatName}}</option>
            {% endif %}
            {% endfor %}
            </select> 
    </div>
    
    <input type="submit" value="Edit Question" class="btn btn-primary" name="submit">
</form>
