{% extends "dashboard.twig" %}

{% block content %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url_for("FormController", "viewForms")}}">Forms</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{[url_for('FormSectionController', 'viewSectionsForForm'), "?formId=", data.form.id]|join}}">{{data.form.title}}</a>
        </li>
        <li class="breadcrumb-item active">List of Questions For {{data.section.title}}</li>
    </ol>

    <section class="mb-2"> 
      <a href="{{[url_for("QuestionController", "getCreateQuestionViewForSection"), "?sectionId=", data.section.id]|join}}" data-toggle="modal" data-target="#createModal" class="btn btn-primary">Create a New Question For This Form</a>
    </section>

    {% if data.questions %}
        <div class="accordion" id="questionAccordion">
            {% for question in data.questions %}
                <div class="card">
                    <div class="card-header" id="{{["heading", loop.index]|join}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="{{["#collapse", loop.index]|join}}" aria-expanded="true" aria-controls="{{["collapse", loop.index]|join}}">
                        {{[loop.index, ". ", question.question]|join}}
                        </button>
                    </h5>
                    </div>

                    <div id="{{["collapse", loop.index]|join}}" class="collapse" aria-labelledby="{{["heading", loop.index]|join}}" data-parent="#questionAccordion">
                        <div class="card-body">
                            <span class="font-weight-bold">Answer Format: </span>{{question.answerFormat}}
                            <div>
                                <span class="font-weight-bold">Actions: </span>
                                <span><a href="#" data-toggle="modal" data-target="#editModal" data-id="{{question.id}}">Edit</a> | <a href="#" data-id="{{question.id}}" data-toggle="modal" data-target="#deleteModal">Delete</a>
                                    {% if question.answerFormat == "RADIO_BOX" or question.answerFormat == "DROP_DOWN" %}
                                       | <a href="{{[url_for('AnswerController', 'viewAnswerOptionsForQuestion'), "?questionId=", question.id]|join}}">Manage Options</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-primary">
            You have not created any questions for this section: <span class="font-weight-bold">{{data.section.title}}</span>
        </div>
    {% endif %}

{% endblock %}
{% block modals %}
<!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Question</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
          <div class="alert alert-danger">Are you sure you want to delete this question?</div></div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" id="deleteBtn" href="">Delete</a>
          </div>
        </div>
      </div>
    </div>

    <!--Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Question</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Create Modal-->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Question</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  <script>
        $( document ).ready(function(){

            $('#deleteModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element
                var questionId = $(e.relatedTarget).data('id');

                var url = "{{[url_for("QuestionController", "deleteQuestion"), "?questionId="]|join}}";
                url += questionId;

                //Change the Href of the button
                $(e.currentTarget).find('#deleteBtn').attr("href", url);
             });

             $('#editModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element
                var questionId = $(e.relatedTarget).data('id');

                var url = "{{[url_for("QuestionController", "getEditQuestionView"), "?questionId="]|join}}";
                url += questionId;

                $.get(url, function( response ) {
                    $('#editModal .modal-body').html(response); 
                });

             });

             $('#editModal, #createModal').on('hidden.bs.modal', function(e) {

                var ajaxLoaderGif = "<div class='ajax-loader'><img src='{{ URL_ROOT }}/img/ajax-loader.gif' alt='Ajax Loader'/></div>"; 

                $('#editModal .modal-body, #createModal .modal-body').html(ajaxLoaderGif); 

             });

             $('#createModal').on('show.bs.modal', function(e) {

                //get the href attribute of the clicked element
                var url = $(e.relatedTarget).attr('href');

                $.get(url, function( response ) {
                    $('#createModal .modal-body').html(response); 
                });

            });
        })
        
  </script>
{% endblock %}