{% extends "dashboard.twig" %}

{% block content %}
   <h5>Backup data to Dropbox</h5>
   <a href="{{url_for("DataManagementController", "backUpToDropbox")}}" class="btn btn-primary">Click to Backup</a>

   <h5 class="mt-5">Clear all live stats</h5>
   <a href="{{url_for("DataManagementController", "clearLivestats")}}" class="btn btn-primary">Click to Clear livestats</a>

   <h5 class="mt-5">Clear all Corper responses</h5>
   <a href="{{url_for("DataManagementController", "clearResponses")}}" class="btn btn-primary">Click to Clear Corper Responses</a>

   <h5 class="mt-5">Clear all Corpers</h5>
   <a href="{{url_for("DataManagementController", "clearCorpers")}}" class="btn btn-primary">Click to Clear current Corpers from Database</a>
{% endblock %}