body, html{
    font-family: 'Raleway', sans-serif;
    height:100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.49) url("../img/shoes.jpg")  center no-repeat  ;
    background-size: cover; 
    background-position: 0 0;
    overflow: hidden;
}
.container{
    overflow-y:auto;
    overflow-x:hidden;
    height: 100%;
    width: 100%;
    max-width:100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
body::before{
    background: rgba(255, 255, 255, 0.49);
    -webkit-backdrop-filter: blur(10px);
    filter: blur(10px);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* CSS code for alert text */
.alert .delete-button{
    width: 7%;
}

.alert span a{
   color: #ffffff;
}

.alert{
    background-color: #1e7e34;
    opacity: 0.55;
    
    color: white; 
    /* margin-left: 38%; */
    margin-bottom: 20px;
}

.alert span{
    margin-left: 10px;
}
/* code ends here! */


/* NYSC Logo */
.logo{
    height:15%;
    margin-left: 30%;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* CSS for Login form */
.card-corp{
    margin-right: 0px;
    color: #ffffff;
    border-radius: 15px;
    background: #1e7e34;
    opacity: 0.8;
    box-shadow: 0px 10px 15px 0px  black;

}

.card-title{
    margin-left: 10%;
    margin-top: 20px;
}
.h-rule{
    margin-left: 10%;
    margin-right: 70%;
    border:1px solid #fd0808;
}

form .btn{
    width: 80%;
    border-radius: 0px;
    margin-left:10%;
    margin-top:30px;
}
form .form-group{
    width: 80%;
    margin-left: 10%;
}
form .form-control{
    border-radius: 0px;
    background-color: white;
    color: black;
}

.footer-note{
    margin-top: 20px;
    font-size: 15px;
    color: #000000;
    text-align: center;
}

.recover-pword{
    margin-left: 20%;
    padding: 20px 0;
}

.recover-pword .link{
    color: white;
    text-decoration: underline white;
}
/* Codes ends here */
