<form action="{{url_for("RoleController", "createRole")}}" method="POST">

    <div class="form-group">
        <label for="role">Role Name</label>
        <input class="form-control" type="text" required name="role_name" id="role_name">
        
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" name="description" id="description"></textarea>
    </div>
    <input type="submit" value="Create Role" class="btn btn-primary" name="submit">
</form>


