<form action="{{url_for("RoleController", "editRole")}}" method="POST">

    <input type="hidden" value="{{data.role.id}}" name="roleId" id="roleId">

    <div class="form-group">
        <label for="role">Role Name</label>
        <input class="form-control" type="text" value="{{data.role.role}}" required name="role_name" id="role_name">
        
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" required name="description" id="description">{{data.role.description}}</textarea>
    </div>

    <input type="submit" value="Edit Role" class="btn btn-primary" name="submit">
</form>
    

