{% extends "superadmin/includes/super_admin_dashboard.twig" %}
{% import "macros/UtilityMacro.twig" as Utility %}

{% block content %}

  {{Utility.displayCreateButton("RoleController", "getCreateRoleView", "Click to Create New Role")}}

    <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              List of Roles</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>S/N</th>
                      <th>Role</th>
                      <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>S/N</th>
                      <th>Role</th>
                      <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for role in data.roles %}
                    <tr>
                      <td>{{loop.index}}</td>
                      <td>{{role.role}}</td>
                      <td>{{role.description}}</td>
                      <td>
                      <a href="#" data-id="{{role.id}}" data-toggle="modal" data-target="#editModal">Edit</a> | <a href="#" data-id="{{role.id}}" data-toggle="modal" data-target="#deleteModal">Delete</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
    </div>

{% endblock %}
{% block modals %}
<!-- Delete Modal-->
    
    {{Utility.displayDeleteModal("Delete Role", "Are you sure you want to delete this role")}}

    <!-- Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Role</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

     <!-- Create Modal-->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Role</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="ajax-loader">
              <img src="{{ URL_ROOT }}/img/ajax-loader.gif" alt="Ajax Loader"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  <script>
        $( document ).ready(function() {
          $('#deleteModal').on('show.bs.modal', function(e) {

              //get data-id attribute of the clicked element
              var roleId = $(e.relatedTarget).data('id');

              var url = "{{[url_for("RoleController", "deleteRole"), "?roleId="]|join}}";
              url += roleId;

              $(e.currentTarget).find('#deleteBtn').attr("href", url);
          });

          $('#editModal').on('show.bs.modal', function(e) {

              //get data-id attribute of the clicked element
              var roleId = $(e.relatedTarget).data('id');

              var url = "{{[url_for("RoleController", "getEditRoleView"), "?roleId="]|join}}";
              url += roleId;

              $.get(url, function( response ) {
                  $('#editModal .modal-body').html(response); 
              });

          });

          $('#editModal, #createModal').on('hidden.bs.modal', function(e) {

              var ajaxLoaderGif = "<div class='ajax-loader'><img src='{{ URL_ROOT }}/img/ajax-loader.gif' alt='Ajax Loader'/></div>"; 

               $('#editModal .modal-body, #createModal .modal-body').html(ajaxLoaderGif); 

          });

          $('#createModal').on('show.bs.modal', function(e) {

              //get the href attribute of the clicked element
              var url = $(e.relatedTarget).attr('href');

              $.get(url, function( response ) {
                  $('#createModal .modal-body').html(response); 
              });

          });
        }); 
  </script>
{% endblock %}