<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="NYSC Evaluations">
  <meta name="author" content="Kofi Oghenerukevwe H.">
  {% block unique_meta %}
    
  {% endblock %}
 
  <title>{{ SITE_NAME }} | {{ data.title }}</title>
  
    <!-- Bootstrap core CSS-->
     <!-- Bootstrap core CSS-->
    <link href="{{ URL_ROOT }}/public/js-css/bootstrap.min.css" rel="stylesheet">

     <!-- Custom fonts for this template-->
    <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" rel="stylesheet" type="text/css">


    <!-- Custom fonts for this template-->
    {# <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" rel="stylesheet" type="text/css"> #}
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% block unique_css_includes %}

    {% endblock %}

     <!-- Custom styles for this template-->
    <link href="{{ URL_ROOT }}/public/js-css/sb-admin.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ URL_ROOT }}/public/img/nysc-logo.png">
</head>
  {% block main %}
    <body> Hello </body> 
  {% endblock %}
</html>
  
