{% extends "base.twig" %}
{% import "macros/NavigationMacro.twig" as Navigation %}
{% import "macros/MessageFlashMacro.twig" as ProcessingMessage %}

{% block unique_css_includes %}
    <!-- Page level plugin CSS-->
    <link href="{{ URL_ROOT }}/public/js-css/datatables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block main %}
  <body id="page-top"> 
      <!--navigation-->
      <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="{{url_for("HomeController", "index")}}">NYSC Evaluations</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
          <i class="fas fa-bars"></i>
        </button>

      </nav>

      <div id="wrapper">

        <!-- Sidebar -->
        {{ Navigation.displayNavigation(data.nav.navigation) }}

        <div id="content-wrapper">

          <div class="container-fluid mb-3">
          
             <!-- Breadcrumbs-->
             {{ Navigation.displayBreadcrumbs(data.nav.breadcrumbs) }}

             <!-- Processing Message-->
             {{ ProcessingMessage.displayProcessingMessage(data.processingMessage, data.processingMessageType) }}

            <!-- Page Content -->
              {% block content %}

              {% endblock %}
          </div>
          <!-- /.container-fluid -->

          <!-- Sticky Footer -->
          <footer class="sticky-footer">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright © NYSC Evaluations Team, Lagos 2018. Call 08169312496 for enquiries.</span>
              </div>
            </div>
          </footer>

        </div>
        <!-- /.content-wrapper -->

      </div>
      <!-- /#wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
          </div>
        </div>
      </div>
      {% block modals %}
      
      {% endblock %}

      <!-- Bootstrap core JavaScript-->
      <script src="{{ URL_ROOT }}/public/js-css/jquery.min.js"></script>
      <script src="{{ URL_ROOT }}/public/js-css/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="{{ URL_ROOT }}/public/js-css/jquery.easing.min.js"></script>

      <!-- Page level plugin JavaScript-->
      <script src="{{ URL_ROOT }}/public/js-css/jquery.datatables.js"></script>
      <script src="{{ URL_ROOT }}/public/js-css/datatables.bootstrap4.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="{{ URL_ROOT }}/public/js-css/sb-admin.min.js"></script>

      <!-- Demo scripts for this page-->
      <script src="{{ URL_ROOT }}/public/js-css/datatables-demo.js"></script>

      {% autoescape 'js' %}
        {% block scripts %}
        
        {% endblock %}
      {% endautoescape %}
  </body>
{% endblock %}

  
